# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData

#DiffMerge
*.orig

Documentation/Output


Vendor/CPPickerView

Vendor/InAppSettingsKit

Vendor/ActionSheetPicker

Vendor/appirater

Vendor/CPSlider

Vendor/InstrumentMotion

Vendor/MarqueeLabel

Vendor/Marshmallows

Vendor/MusicalLib

Vendor/OCMock

Vendor/PRTween

Vendor/XCDFormInputAccessoryView

Vendor/ObjectiveMixin

Vendor/NMRangeSlider

Vendor/Overline

Lab-VC-Transitions/Vendor//GPUImage

Lab-VC-Transitions/Vendor//libextobjc

Lab-VC-Transitions/Vendor//Overline
